# Perform EDA on data captured in DB

In [1]:
import pandas as pd

In [5]:
comments_df = pd.read_csv("comments.csv", index_col=0)

In [7]:
comments_df.describe(include = "all")

,insert_update_ts,id,link_id,author,body,score,permalink,retrieved
count,4528,4528,4528,4528,4528,4528.000000,4528,4528
unique,416,4528,241,3873,4403,NaN,4528,416
top,2020-05-17 15:30:21,fqwvhlw,t3_gle82k,None,b'[deleted]',NaN,/r/worldnews/comments/gle82k/coal_industry_wil...,2020-05-17 19:23:06
freq,20,1,768,90,47,NaN,1,20
mean,NaN,NaN,NaN,NaN,NaN,35.912102,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,474.892367,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,-159.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,20967.000000,NaN,NaN